<%= form_with(model: product_property, local: true) do |form| %>
  <% if product_property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product_property.errors.count, "error") %> prohibited this product_property from being saved:</h2>

      <ul>
      <% product_property.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :value %>
    <%= form.text_field :value %>
  </div>

  <div class="field">
    <%= form.label :product_id %>
    <%= form.number_field :product_id %>
  </div>

  <div class="field">
    <%= form.label :property_id %>
    <%= form.number_field :property_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
