<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :upc %>
    <%= form.text_field :upc %>
  </div>

  <div class="field">
    <%= form.label :available_on %>
    <%= form.datetime_select :available_on %>
  </div>

  <h4>Properties</h4>

  <%= form.fields_for :product_properties do |builder| %>
    <%= render 'product_property_fields', form: builder %>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
